<%- include('../includes/head') %>

  <%- include('../includes/navigate') %>

    <main>


      <section class="container my-5">

        <header class="row">
          <div class="col-4 offset-4 text-center">
            <h3>New password</h3>
          </div>
        </header>


        <article class="row mt-4">

          <!-- FORMULARIO -->
          <form class="col-4 offset-4" action="/new-password/" method="POST">


            <!-- EMAIL -->
            <div class="mb-3">
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                class="form-control"
              />
            </div>
            <!-- END -->

            <!-- csrfToken -->
            

            <!-- User ID -->
            <input type="hidden" name="userId" value="<%= userId %>">

            <!-- Reset Token -->
            <input type="hidden" name="token" value="<%= resetToken %>">

            <div class="mb-3">
              <div class="d-grid gap-2">
                <button class="btn btn-dark" type="submit">Update Password</button>
              </div>
            </div>

          </form>
          <!-- END -->

        </article>

      </section>


    </main>
  </body>

<%- include('../includes/footer') %>
