<%- include('../includes/head') %>

  <%- include('../includes/navigate') %>

    <main>


      <section class="container my-5">

        <header class="row">
          <div class="col-4 offset-4 text-center">
            <h3>Reset password</h3>
          </div>
        </header>


        <article class="row mt-4">

          <!-- FORMULARIO -->
          <form class="col-4 offset-4" action="/reset-password" method="POST">

            <!-- VALIDACION DEL FORMULARIO -->
            <% if(errorMessage) { %>
              <div class="alert alert-danger" role="alert">
                <%= errorMessage %>
              </div>
            <% } %>

            <!-- EMAIL -->
            <div class="mb-3">
              <label for="email">E-Mail</label>
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Example: test@test.com"
              />
            </div>
            <!-- END -->

            <div class="mb-3">
              <p>
                ¿Remember you password?
                <a href="/login">Login</a>
              </p>
            </div>

            <!-- csrfToken -->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <div class="mb-3">
              <div class="d-grid gap-2">
                <button class="btn btn-dark" type="submit">Reset password</button>
              </div>
            </div>

          </form>
          <!-- END -->

        </article>

      </section>


    </main>
  </body>

<%- include('../includes/footer') %>
