<div class="pagination mt-3 d-flex justify-content-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      
      <!-- FIRST PAGE -->
      <% if( current === 1 )  {%>
        <li class="page-item" disabled><a class="page-link"  style="pointer-events: none" href="#">First page</a></li>
      <% } else { %>
        <li class="page-item"><a class="page-link" href="/products/1">First page</a></li>
      <% } %>


      <!-- PEGES -->
      <% let i = current > 5 ? current - 4 : 1 %>
      <% if ( i !== 1 )  { %>
        <li class="page-item">
          <a class="page-link" href="<%= i %>">...</a>
        </li>
      <% } %>
      <% for ( ; i <= current + 4 && i <= pages ; i++ ) { %>
        <% if ( i === current ) { %>
          <li class="page-item">
            <a class="page-link active" href="<%= i %>"><%= i %></a>
          </li>
        <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/products/<%= i %>"><%= i %></a>
          </li>
        <% } %>
        <% if ( i === current + 4 && i < pages ) { %>
          <li class="page-item">
            <a class="page-link" href="<%= i %>">...</a>
          </li>
        <% } %>
      <% } %>

      <!-- LAST PAGE -->
      <% if( current === pages )  {%>
        <li class="page-item" disabled><a class="page-link"  style="pointer-events: none" href="#">Last page</a></li>
      <% } else { %>
        <li class="page-item"><a class="page-link" href="/products/<%= pages %>">Last page</a></li>
      <% } %>

  </nav>
</div>