<%- include('../includes/head') %>

  <%- include('../includes/navigate') %>

    <main>


      <section class="container my-5">
        <div class="row">
          <div class="col-lg-12">


              <div class="card-body store-body">
                <div class="product-info">

                  <!-- PRODUCT GALLERY -->
                  <div class="product-gallery">
                    <div class="product-gallery-thumbnails">
                      <ol class="thumbnails-list list-unstyled">
                        <li><img src="https://via.placeholder.com/350x350/ffcf5b" alt=""></li>
                        <li><img src="https://via.placeholder.com/350x350/f16a22" alt=""></li>
                        <li><img src="https://via.placeholder.com/350x350/d3ffce" alt=""></li>
                        <li><img src="https://via.placeholder.com/350x350/7937fc" alt=""></li>
                        <li><img src="https://via.placeholder.com/350x350/930000" alt=""></li>
                      </ol>
                    </div>
                    <div class="product-gallery-featured">
                      <img src="<%= product.imageUrl %>" alt="">
                    </div>
                  </div>
                  <!-- /. PRODUCT GALLERY -->

                  <!-- PRODUCT SELLER RECOMMENDED ITEM -->
                  <div class="product-seller-recommended">


                    <h3 class="mb-5">More from Avispa's Store</h3>

                    <!-- RECOMMENDED ITEMS -->
                    <div class="recommended-items row card-deck">
                      <div class="col-4">
                        <div class="card">
                          <img src="https://via.placeholder.com/157x157" alt="" class="card-img-top">
                          <div class="card-body">
                            <h5 class="card-title">U$ 55.00</h5>
                            <span class="text-muted"><small>T-Shirt Size X - Large - Nickony Brand</small></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /. RECOMMENDED ITEMS -->

                    <p class="mb-5 mt-5"><a href="#">See all ads from this seller</a></p>
                    <div class="product-description mb-5">
                      <h2 class="mb-5">Features</h2>
                      <dl class="row mb-5">
                        <dt class="col-sm-3">Brand</dt>
                        <dd class="col-sm-9">Nickony</dd>
                        <dt class="col-sm-3">Color</dt>
                        <dd class="col-sm-9">Red</dd>
                        <dt class="col-sm-3">Size</dt>
                        <dd class="col-sm-9">XXL</dd>
                        <dt class="col-sm-3">Fabric</dt>
                        <dd class="col-sm-9">Cottom</dd>
                      </dl>
                      <h2 class="mb-5">Description</h2>
                      <p><%= product.description %>
                    </div>
                    <div class="product-faq mb-5">
                      <h2 class="mb-3">Questions and Answers</h2>
                      <p class="text-muted">What information do you need?</p>
                      <div class="main-questions d-inline" data-container="body" data-toggle="popover" data-placement="right" data-content="Are you in doubt? these shortcuts can help you!">
                        <a href="#" class="btn btn-outline-primary">Cost and Delivery time</a>
                        <a href="#" class="btn btn-outline-primary">Warranty</a>
                        <a href="#" class="btn btn-outline-primary">Payment options</a>
                      </div>
                    </div>
                    <div class="product-comments">
                      <h5 class="mb-2">Or ask to David's Store</h5>
                      <form action="/ask" method="POST" class="form-inline mb-5">
                       
                        <textarea name="" id="" cols="50" rows="2" class="form-control mr-4" placeholder="write a question"></textarea><button class="btn btn-lg btn-primary">Ask</button>
                      </form>
                      <h5 class="mb-5">Lastest Questions</h5>
                      <ol class="list-unstyled last-questions-list">
                        <li><i class="fa fa-comment"></i> <span>Hello david, can i pay with credit card?</span></li>
                        <li><i class="fa fa-comment"></i> <span>can i send it to another address?</span></li>
                      </ol>
                    </div>
                  </div>
                  <!-- /. PRODUCT SELLER RECOMMENDED ITEM -->

                </div>

                <!-- DETAIL PAYMENT -->
                <div class="product-payment-details">
                  <p class="last-sold text-muted">
                    <small>145 items sold</small>
                  </p>
                  <h4 class="product-title mb-2"><%= product.title %></h4>
                  <h2 class="product-price display-4">$ <%= product.price %></h2>
                  <p class="text-success">
                    <i class="fa fa-credit-card"></i>
                    12x or  5x $ 5.00
                  </p>
                  <p class="mb-0">
                    <i class="fa fa-truck"></i>
                    Delivery in all territory
                  </p>
                  <div class="text-muted mb-2">
                    <small>know more about delivery time and shipping forms</small>
                  </div>
                  <label for="quant">Quantity</label>
                  <input type="number" name="quantity" min="1" id="quant" class="form-control mb-5 input-lg" placeholder="Choose the quantity">

                  <div class="d-grip gap-2">
                    <button class="btn btn-primary w-100 btn-lg">Buy Now</button>
                  </div>

                </div>
                <!-- /. DETAIL PAYMENT -->
              </div>

          </div>
        </div>



      </section>

    </main>
  </body>

<%- include('../includes/footer') %>
